*{
    padding:0; margin:0;
}
header {
    height:60px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1),0 1px 2px rgba(0,0,0,0.1);
    background-color: white;
    position:sticky;
    top:0;
    z-index:1;
    
}
header h1 {
    text-align: center;
    padding-top:10px;
    color:#1e65ff;
}
body {
    background-color: #f0f2f5;
}
main .list {
    list-style:none;
    display:flex;
    flex-wrap:wrap;
}
main .container {
    height:2000px;
    width:1000px;
    margin:10px auto;
    
}
main .container li {
    margin:10px 0;
    width:25%;
    min-width:25%;
    box-sizing: border-box;
    padding:5px;
}
main .card {
    border-radius: 8px;
    background-color: white;
    box-shadow: 1px 2px rgba(0,0,0,0.1);
    position:relative;
    width:100%; 
    height:300px; 
    overflow: hidden;
}
main .card >img {
    height:140px;
    width:100%;
    object-position: top;
    object-fit:cover;
}
main .card button {
    height:40px;
    width:80%;
    padding:8px 12px;
    font-weight: bold;
    font-size:16px;
    border-radius: 5px;
    cursor:pointer;
    margin-top:10px;
    border:none;
    margin-left:10%
}
main .card .text {
    padding:5px 20px;

}
main .card .text .title {
    color:black;
    font-size:16px;
    display:block;
    margin-bottom:5px;
    font-weight: bold;
}
main .card .text .label {
    color:gray;
    font-size:14px;
    display:block;
    
}
main .card .btn-box {
    width:30px;
    height:30px;
    margin:0 5px;
    align-items: center;
    justify-content: center;
    background-color: rgba(80,80,80,0.2);
    position:absolute;
    top:5px;
    right:0px;
    display:flex;
    border-radius: 20px;
}
main .card .btn-box img {
    height:16px;

}
main .card .btn-box:hover{
    background-color: rgba(80,80,80,0.5);
    cursor:pointer;
}