@media(max-width:800px) {
    * {
        padding:0;
        margin:0;
        list-style: none;
    }
    body {
        background-color: white;
        overflow: hidden;
        overflow-y: auto;
    }
    .card {
        box-shadow: none;
    }
    .card > .header {
        border-bottom: none;
    }
}